@import url("../../index.css");

.club-container {
  margin: 0 auto;
  max-width: 800px;
  border: 2px solid #6e7173;
  padding: 10px;
  border-radius: 20px;
}

.club-details {
  display: flex;
  column-gap: 10px;
  padding: 0;
  margin: 0;
}

.details-container {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.company-title {
  font-weight: bold;
  color: var(--text-color);
}

.club-description {
  color: var(--text-color);
  padding: 5px;
}

.club-title {
  color: var(--text-color);
  padding: 0;
  margin-bottom: 0;
}

.time {
  padding: 0;
  margin: 0;
  color: var(--date-color);
}

.company-logos {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  margin-bottom: 0;
}
