.container {
  margin: 80px;
  display: flex; /* Use flexbox to center children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
}

.toggleExperienceContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.work-experience-title {
  font-size: 50px;
  text-align: center;
  background-color: aquamarine;
  width: 100%;
  max-width: 820px;
  margin: auto;
  margin-bottom: 50px;
}

.experiences {
  display: grid;
  grid-template-columns: 1fr; /* Single column grid */
  row-gap: 40px; /* Add vertical spacing between rows */
}
