.about-container {
  height: 92vh;
}

.about-containererized {
  margin: 20px;
}

hr {
  border: 0;
  height: 5px;
  background-color: violet;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  font-size: 55px;
  text-align: center;
  margin-bottom: 25px;
}

.about-description {
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-bottom: 70px;
}

.about-description ul {
  list-style-type: none;
  padding: 0;
  font-size: 25px;
}

.org {
  color: palevioletred;
}

.about-img {
  width: 370px;
  max-width: 100%;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}
