@import url("../../index.css");

.project-page {
  margin: 10px;
}

.project-headline {
  font-size: 50px;
  text-align: center;
  background-color: var(--accent-color1);
  max-width: 820px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  color: var(--text-color);
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
