header,
.header {
  background-color: black;
  height: 55px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.nav-list {
  list-style: none;
  margin: 0; /* Remove margin */
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

li {
  margin-right: 20px;
  margin-top: 10px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
}
