.Card {
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.project-item {
  width: 400px;
  display: grid;
  -ms-grid-columns: 20rem;
  grid-template-columns: 100%;
  -ms-grid-rows: 13rem 13rem 4rem;
  grid-template-rows: 13rem minmax(13rem, auto) 4rem;
  grid-template-areas: "image" "desc" "buttons";
  border-radius: 19px;
  background-color: #add8e6;
  text-align: center;
  margin: 2rem;
  transition: 0.3s ease;
  min-height: fit-content;
}

.project-item:hover {
  transform: translateY(-2%);
}

.project-text {
  padding: 1rem;
  color: black;
}

h3 {
  margin: 0;
  padding: 0;
}

.project-buttons {
  -ms-grid-rows: 3;
  -ms-grid-columns: 1;
  grid-area: buttons;
  display: block;
  padding-top: 10px;
}

.project-image {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 0;
}

.image {
  border-radius: 10px;
  border: 1px solid #6691cc;
  outline-offset: 15px;
  margin-bottom: 0;
  max-width: 80%;
  margin: 0 auto;
}

.tech {
  display: flex;
  margin-right: 2px;
  justify-content: center;
  column-gap: 5px;
  flex-wrap: wrap;
}

.language {
  padding-left: 4px;
  padding-right: 4px;
}

.description li {
  text-align: left;
  font-weight: normal;
  list-style: none;
}
